body {
    padding: 0;
    margin: 0;
}

.VideoFrame {
    width: 100%;
    height: 100%;
}

.VideoFrame__video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform: scale(-1, 1);
}

.VideoFrame__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
