aiohttp==3.6.2
aioice==0.6.16
aiortc==0.9.22
async-timeout==3.0.1
attrs==19.3.0
av==6.2.0
cffi==1.13.2
chardet==3.0.4
crc32c==2.0
cryptography==2.8
idna==2.8
multidict==4.6.1
netifaces==0.10.9
numpy==1.17.4
opencv-python==4.1.2.30
pycparser==2.19
pyee==6.0.0
pylibsrtp==0.6.4
pyOpenSSL==19.1.0
six==1.13.0
yarl==1.4.2
tensorflow==2.0.3
Pillow==6.2.2
