.Onboarding {
    display: flex;
    flex-direction: column;
}

.Onboarding__firstRow {
    background: #e23535;
    height: 40vh;

    border-bottom: 16px solid #fff;
}

.Cross {
    display: none;
}

.Onboarding__img {
    display: block;
    padding: 80px 20px 0;
    margin: 0 auto;
    height: 25vh;
}

.Onboarding__secondRow {
    padding: 40px 10% 60px;
    background: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 0 auto 20px;
    text-align: center;
    color: #FFFFFF;
    height: 20vh;
}

.RedButton {
    padding: 1px;
    background: #e23535;
    font-size: 22px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px #e23535;
}

.paging-item svg {
    display: none;
}

.paging-item button::after {
    content: ' ';
    width: 8px;
    height: 8px;
    background: #ffffff;
    display: block;
}

.OnboardingContainer {
    background: #000;
    height: 100vh;
}

.OnboardingCarousel {
    height: 90vh;
}