body {
    padding: 0;
    background: black;
    margin: 0;
    font-family: Verdana;
}

.Onboarding {
    background: #e23535;
    height: 382px;
}

.Cross {
    display: none;
    position: absolute;
    top: 0;
    padding: 12px;
}

.Illustration {
    display: block;
    padding: 80px 20px 0;
    margin: 0 auto;
}

.Emptyspace {
    height: 16px;
    background: #ffffff;
}

.BlackText {
    padding: 40px 10% 60px;
    background: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 0 auto 20px;
    display: block;
    text-align: center;
    height: 169px;
    color: #FFFFFF;
}

.RedButton {
    padding: 1px;
    background: #e23535;
    font-size: 22px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px #e23535;
}

.paging-item svg {
    display: none;
}

.paging-item button::after {
    content: ' ';
    width: 8px;
    height: 8px;
    background: #ffffff;
    display: block;
}